@import "../../style/variables.scss";

.mainContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/home-map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 70vh;
  top: 0;
  background-color: $primarycolor;
  padding: 2rem;
}

.searchContainer {
  color: white;
  margin-top: 3rem;
}

.mainInputContainer {
  width: 100%;
}

.searchInput {
  width: 100%;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;

  &:focus + label {
    font-family: "Fira Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    transform: translate(-20rem, -2rem);
  }
}

label {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  transition: 0.2s;
  font-size: 1rem;
  transform: translate(-15.5rem, 2.5rem);
  color: $primarycolor;
  width: fit-content;
}

input {
  border-style: none;
  margin-top: 2rem;
  height: 2.5rem;
  padding: 0.5rem;
}

input:focus {
  outline: none !important;
  //border: 2px $darkestcolor;
}

.littleDot {
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
  position: absolute;
  top: 0vh;
  left: 5vh;
  background-color: $pink;
  animation: slide 0.5s forwards;
  //animation-delay: 2s;
}

@keyframes slide {
  100% {
    top: 65vh;
  }
}

.bigDot {
  width: 12rem;
  height: 12rem;
  border-radius: 12rem;
  position: absolute;
  bottom: 0;
  right: -5vh;
  background-color: $pink;
}

.button {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  width: 25%;
  background-color: $hover;
  color: white;
  float: right;
  cursor: pointer;
}

.button:hover {
  transition: 0.1s ease-in-out all;
  background-color: $darkestcolor;
}
