@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:700|Open+Sans:300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
}

a {
  cursor: pointer;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.75rem;
}

p {
  font-family: "Open Sans", sans-serif;
}
