//@import "";

.container {
  padding: 0.25rem;
  bottom: 0;
  height: 10vh;
  width: 100%;
  position: fixed;
  background-color: darkslategrey;
  color: white;
  font-family: "Open Sans", sans-serif;
}
