@import "../../style/variables.scss";

.navContainer {
  padding: 1.5rem;
  bottom: 0;
  height: 10vh;
  width: 100%;
  position: fixed;
  background-color: $primarycolor;
  color: white;
  font-family: "Fira Sans", sans-serif;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.navContainer li {
  font-size: 0.75rem;
  padding: 0.5rem;
  display: inline;
}

a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}
