@import "../../style/variables.scss";

.container {
  bottom: 0;
  height: 12vh;
  width: 100%;
  position: fixed;
  background-color: $primarycolor;
  color: white;
  font-family: "Fira Sans", sans-serif;
  z-index: 1;
}

.navContainer {
  padding-top: 0.5rem;
}

.navUl {
  text-align: center;
}

li {
  font-size: 0.75rem;
  padding: 0.5rem;
  display: inline;
.iconLabel {
  text-align: center;
}

a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

.daSVGs {
  height: 7vh;
  margin: 0 auto;
  display: block;
}
